{% extends 'admin/base_admin.html' %}

{% block title %}
Editar Alumno
{% endblock %}

{% block content %}

<div class="container">

<h1>Editar Alumno</h1>

{% if messages %}

    {% for message in messages %}

        <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
             role="alert">

            <div style="color: #000000">{{ message }}</div>

            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert">
            </button>

        </div>

    {% endfor %}

{% endif %}


<form method="POST">

    {% csrf_token %}

    {{ usuario_form.as_p }}

    {{ alumno_form.as_p }}

    <button type="submit" class="btn btn-primary">
        Guardar cambios
    </button>

</form>


</div>

{% endblock %}
