{% extends "admin/dashboard.html" %}

{% block title %}
Crear Evento
{% endblock %}


{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-8">

            <div class="card border-0 shadow-sm">

                <div class="card-body p-4">

                    <h2 class="mb-4">
                        Crear evento
                    </h2>


                    <form
                        method="POST"
                        enctype="multipart/form-data"
                    >

                        {% csrf_token %}


                        {{ form.as_p }}


                        <div class="d-flex gap-2 mt-4">

                            <button
                                type="submit"
                                class="btn btn-primary"
                            >
                                Crear evento
                            </button>


                            <a
                                href="{% url 'listar_eventos' %}"
                                class="btn btn-secondary"
                            >
                                Cancelar
                            </a>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}