<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Nueva contraseña</title>

</head>

<body>

    <h1>Crear nueva contraseña</h1>


    {% if validlink %}

        <p>
            Introduce tu nueva contraseña.
        </p>


        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}


            <button type="submit">
                Cambiar contraseña
            </button>

        </form>


    {% else %}

        <h2>Enlace inválido</h2>

        <p>
            Este enlace de recuperación ya fue utilizado
            o ha expirado.
        </p>


        <a href="{% url 'password_reset' %}">
            Solicitar un nuevo enlace
        </a>

    {% endif %}

</body>

</html>