<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Correo enviado</title>

</head>

<body>

    <h1>Revisa tu correo</h1>

    <p>
        Si existe una cuenta asociada a ese correo electrónico,
        recibirás un enlace para restablecer tu contraseña.
    </p>

    <p>
        Revisa también la carpeta de spam o correo no deseado.
    </p>


    <a href="{% url 'login' %}">
        Volver al inicio de sesión
    </a>

</body>

</html>