<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Recuperar contraseña</title>

</head>

<body>

    <h1>Recuperar contraseña</h1>

    <p>
        Introduce el correo electrónico asociado a tu cuenta.
    </p>


    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}


        <button type="submit">
            Enviar enlace de recuperación
        </button>

    </form>


    <br>


    <a href="{% url 'login' %}">
        Volver al inicio de sesión
    </a>

</body>

</html>